*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    min-height:100vh;
}

.navbar{
    height:55px;
    background:#2ca3c4;
    display:flex;
    align-items:center;
    padding-left:20px;
}

.navbar img{
    margin-top: 15px;
    height:130px;
}

.login-section{
    min-height:calc(100vh - 55px);
    background-image: url("http://127.0.0.1:8000/images/classroom.jpg");
    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    position:relative;
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.75);
}

.login-card{
    position:relative;
    z-index:2;

    width:360px;
    background:#efefef;

    padding:50px 35px;

    border-radius:20px;

    text-align:center;
}

.login-card h1{
    font-size:24px;
    font-weight:500;
    margin-bottom:30px;
}

.login-card form{
    display:flex;
    flex-direction:column;
    gap:14px;
}

.login-card input,
.login-card select{
    width:100%;

    padding:14px;

    border:none;

    border-radius:4px;

    background:#d9d9d9;

    font-size:14px;

    outline:none;
}

.login-card button{
    margin-top:18px;

    width:130px;

    align-self:center;

    padding:12px;

    border:none;

    border-radius:5px;

    background:#66c0dc;

    cursor:pointer;

    font-size:15px;
}

.login-card button:hover{
    opacity:.9;
}